@import url(http://fonts.googleapis.com/css?family=Dosis:600|Cabin:600italic|Oxygen);

.body {
	font-family: "Cabin", sans-serif;
	font-weight: 600;
	font-size: 2em;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Oxygen", sans-serif;
	font-weight: 100;
	margin: 0;
}

img {
	max-width: 200px;
}

/** Header Navigation **/

header .navbar {
	padding: 30px 0;
}

header .navbar-default {
	background-color: transparent;
	border: none;
}

header .navbar-default .navbar-nav a {
	color: white;
	padding: 15px 8px;
}

header .navbar-default .navbar-nav a:hover {
	color: #EEC856;
}

header .navbar-default .navbar-nav .active a {
	font-weight: 700;
	color: #EEC856;
	background: transparent;
	border-bottom: 4px solid #EEC856;
	text-shadow: none;
	outline: none;
}

header .navbar-default .navbar-nav .active a:hover {
	color: #E15D5F;
	background: transparent;
	text-shadow: none;
}

@media only screen
and (max-width: 768px) {
	header .navbar-collapse.in {
		background-color: rgba(0,0,0, .5);
	}
}

/** Navbar Brand **/
header .navbar-brand {
	background-repeat: no-repeat;
	background-position: 15px 0;
	height: auto;
}

/** Navbar Toggle **/

header .navbar-toggle {
	background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

/** Page **/
.page {
	padding: 50px 0;
}

.page h2, h3 {
	text-align: center;
	margin-bottom: 30px;
}

/** Page -- About **/
#about {
	background-color: #585858;
	background-image: linear-gradient(to bottom, #C3C3BD, #454541);
	border-top: 20px solid rgba(50, 54, 56, .5);
}

/** Page -- Portfolio **/
.portfolio {
	margin: 20px 0;
	text-align: center;
}

@media only screen
and (min-width: 450px)
and (max-width: 768px) {
	.img-responsive {
		margin: 0 auto;
	}
}

/** Footer Navigation **/

footer .navbar-default {
	background: transparent;
}
